*
{
    margin: 0;
    padding: 0;
}
:rootz
{
    --bs-dark-rgb: 33,37,41;
}
header
{
    position: relative;
    top: 0;
    left: 0;
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    background: rgba(var(--bs-dark-rgb),1) !important;
    color: white;
}
header div
{
    position: relative;
    margin: 17px 20px;
    color: #fff;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header ul
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header ul li
{
    margin: 17px 15px;
    list-style: none;
}
header ul li a
{
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
.container2
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
}
.container2 h1
{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 40px 0;
}
#nt1
{
    position: relative;
    margin: 20px 0;
    width: 890px;
    padding: 10px 32px;
    outline: none;
    border: 2px solid #ced4da;

}
#txt
{
    position: relative;    
    resize: none;
    border: 2px solid #ced4da;
    outline: none;
    padding: 20px 28px;
    font-size: 16px;
}
#txt::placeholder
{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container2 button
{
    position: relative;
    margin: 20px 0;
    padding: 16px 32px;
    color: white;
    background: blue;
    border: 2px solid blue;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 5px;
    font-weight: 500;
    /* letter-spacing: 1.2px; */
}
.container2 button:hover
{
    background: blue;
    color: white;
}
.preview
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}